DATA_PROVIDER=mock
DATA_ADDR=:8081
# DATA_PROVIDER=longbridge 时必填，从 open.longbridge.com 用户中心获取
LONGBRIDGE_APP_KEY=
LONGBRIDGE_APP_SECRET=
LONGBRIDGE_ACCESS_TOKEN=
# 本机有代理时填写，如 http://127.0.0.1:7897
HTTPS_PROXY=
