DATA_PROVIDER=mock
DATA_ADDR=:8081
# Required when DATA_PROVIDER=longbridge; get them from the open.longbridge.com user center
LONGBRIDGE_APP_KEY=
LONGBRIDGE_APP_SECRET=
LONGBRIDGE_ACCESS_TOKEN=
# Set when this machine uses a proxy, e.g. http://127.0.0.1:7897
HTTPS_PROXY=
